.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 24px;
  color: var(--celtic-blue);
}

.header {
  color: var(--celtic-blue);
  font-size: 24px;
  font-weight: 900;
}
