.button {
  border-radius: 8px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: medium;
  line-height: normal;
  color: var(--celtic-blue);
  background: #fff;
  border: 1px solid var(--celtic-blue);
  text-align: center;
  letter-spacing: 1.25px;
  padding: 8px;
  cursor: pointer;
}

.solid.primary {
  background: var(--celtic-blue);
  color: var(--white);
}

.solid.secondary {
  background: var(--forest-green);
  color: var(--white);
}

.solid.warn {
  background: var(--cinnabar);
  color: var(--white);
  border: 1px solid var(--cinnabar);
}

.outlined.secondary {
  background: var(--white);
  border: 1px solid var(--forest-green);
  color: var(--forest-green);
}

.outlined.warn {
  background: var(--white);
  color: var(--cinnabar);
  border: 1px solid var(--cinnabar);
}

.full {
  flex: 1;
}

.medium {
  width: 250px;
}

.small {
  width: 125px;
  height: 41px;
}

.disabled {
  background: var(--celtic-blue);
  opacity: 0.5;
  cursor: not-allowed;
}

/* styles for primary button only */
.buttonIcon {
  margin-right: 8px;
}
